<% provide(:title, 'Contact Us') %>

<h1>Contact Us</h1>

<p>I made this page all by myself!</p>
<p>Contact me at temmens0@gmail.com</p>

<p>Here's a picture:</p>

<IMG SRC="http://cdn.theatlanticwire.com/img/upload/2012/11/01/obama%20wrong%20number%20small.jpg">
