<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

<H1>Welcome to the official Reuben Emmens website</H1>


<IMG SRC="http://2.bp.blogspot.com/-4XUIWtfwXo0/UrF7WoDvMEI/AAAAAAAAAGU/_OtVx-nm2fE/s320/IMG_2818.JPG">


<H4>By Thomas Emmens</H4>
