<% provide(:title, 'Home')%>
<h1>Sample App</h1>
<p>
  This is the homepage for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<IMG SRC="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQq7h-VQYCcQ6ng9NvRrd0cVnuXaKkEHGwCuZROA9GbkD93I-RrBg">
